/* Global styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: black;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #1C1C1C;
}

header img {
  height: 30px;
}

header button {
  border: none;
  background-color: transparent;
}

header button img {
  height: 20px;
  filter: invert();
}

/* Main styles */
.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

main img {
  width: 57%;
  border-radius: 5px;
}

main h1, main p {
  margin: 0;
  font-size: medium;
  color: white;
}

section.text h2 {
  margin: 20px 0;
  font-size: 36px;
  color: white;
}

section.section1 li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  background-color: #2C2C2C;
}

section.section1 li:hover {
  cursor: pointer;
  background-color: #4C4C4C;
}

section.section1 li p {
  margin: 0;
  font-size: 24px;
}

section.section1 li .play-button img {
  margin-left: 10px;
  max-width: 50%;
  height: auto;
  filter: invert();
}

/* Footer styles */
footer {
  background-color: #1C1C1C;
  padding: 20px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.section2 {
  display: flex;
  align-items: center;
}

section.section2 button {
  border: none;
  background-color: transparent;
  margin-right: 10px;
}

section.section2 button img {
  height: 30px;
  filter: invert();
}

.footer-text h2 {
  margin: 0;
}

.footer-text a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.section3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  flex-direction: column;
  right: 0;
  gap: 1rem;
  background-color: #1C1C1C;
  padding: 5px;
}

.section3 button {
  border: none;
  background-color: transparent;
}

.section3 img {
  width: 2.5rem;
  height: 2.5rem;
}

.albums picture {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  overflow-x: auto;
  scrollbar-width: none;
  position: absolute;
}

.albums {
  width: 100%;
  overflow: hidden;
}
